body{
    background-image: url("./img/pollo-arvejado.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pageActions{
    align-items: center;
    background-color: #B54C35;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: bold;
    min-height: 50px;
    width: 100%;
}
.nextPage{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.backPage{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.pageTitle{
    color: white;
}
.pageContent{
    color:blue;
}
